@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --dark-background: #1f2937;
  --quote-background: #e4e7eb;
  /* --blue: #3882f6; */
  --blue: #2efcb7c2;
  --white: #f9faf8;
  --quote-text: #1f2937;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 960px;

  margin: 0 auto;
  display: flex;
}
body {
  line-height: 1.3rem;
  font-family: "Inter", sans-serif;
}

.d-flex {
  display: flex;
}
.col-1 {
  flex-basis: 8.333%;
}
.col-2 {
  flex-basis: 16.666%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 33.333%;
}
.col-5 {
  flex-basis: 41.666%;
}
.col-6 {
  flex-basis: 50%;
}
.col-12 {
  flex-basis: 100%;
}

header {
  background-color: var(--dark-background);
}
.navbar-nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.header-logo h1 {
  font-size: 24px;
  color: var(--white);
  font-weight: 500;
}
.nav-list {
  display: flex;
}
.nav-list li {
  margin-left: 1rem;
  font-size: 18px;
  color: var(--quote-background);
}
.hero {
  background-color: var(--dark-background);
  padding: 7rem 0;
}
.hero-main-text {
  padding-right: 7rem;
}
.awesome-text {
  color: rgb(44, 253, 183);
}
.hero-main-text h1 {
  font-size: 48px;
  font-weight: bolder;

  color: var(--white);
  line-height: 4rem;
}
.hero-main-text p {
  color: var(--quote-background);
  margin-bottom: 1rem;
  font-size: 18px;
}

.btn {
  background-color: var(--blue);
  border: none;
  padding: 0.5rem 2rem;
  color: var(--white);
  border-radius: 0.5rem;
}

.image-placeholder {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--quote-background);
}
section:not(.hero) {
  min-height: 380px;
  padding: 3rem;
}
.information {
  text-align: center;
  padding: 3rem;
}
.information h3 {
  margin-bottom: 3rem;
  color: var(--quote-text);
  font-size: 36px;
  font-weight: bolder;
  line-height: 2rem;
}

.info-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.info-card {
  width: 165px;
}
.info-card p {
  color: var(--quote-text);
}
.info-img {
  border: 4px solid var(--blue);
  border-radius: 1rem;
  margin: 0.5rem;
  width: 160px;
  height: 160px;
  text-align: center;
}

.quote {
  background-color: var(--quote-background);
  display: flex;
  justify-content: center;

  line-height: 3rem;
}

.quote blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: var(--quote-text);
}
.quote div {
  max-width: 700px;
  width: 100%;
}

.quote cite {
  display: block;
  width: 100%;
  text-align: right;
  font-weight: bolder;
}

.hamburger-menu {
  display: none;
  font-size: 28px;
  color: var(--white);
}
/* .action {
  max-height: 100px;
} */

.action-card {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #0de49c;
  padding: 3rem 5rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
}
.action-card h4 {
  color: var(--white);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.7rem;
  line-height: 2rem;
}
.action-card p {
  font-size: 1.2rem;
  color: var(--quote-background);
  line-height: 1.5rem;
}
.btn-outline {
  border: 3px solid white;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
}
footer {
  background-color: var(--dark-background);
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .image-placeholder {
    display: none;
  }
  .hero-main-text {
    all: unset;
    text-align: center;
    padding: 0 1rem;
  }
  .quote {
    text-align: center;
  }
  .quote cite {
    all: unset;
    font-weight: bolder;
  }
  .nav-list li {
    display: none;
  }
  .navbar-nav {
    padding: 1rem;
  }
  .hamburger-menu {
    display: inline;
  }
  .action-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }
}
